<!-- Config file for the engine -->
<config>
  <engine>
    <title>My platformer game</title>
    <maxFrameDuration value="16"/>
  </engine>

  <render>
    <vsync value="false"/>
  </render>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  <scene>
    <map path="Assets/Maps/" name="MapTemplate.tmx"/>
    <entities>
      <player x="96" y="680" w="48" h ="40" texture="Assets/Textures/player/Animations.png">
        <animations>
		  <idle_left loop="true" speed ="0.18">
			<frame x="0" y="0" w="48" h="40"/>
			<frame x="48" y="0" w="48" h="40"/>
			<frame x="96" y="0" w="48" h="40"/>
			<frame x="144" y="0" w="48" h="40"/>
			<frame x="192" y="0" w="48" h="40"/>
			<frame x="240" y="0" w="48" h="40"/>
			<frame x="288" y="0" w="48" h="40"/>
			<frame x="336" y="0" w="48" h="40"/>
		  </idle_left>
          <idle_right loop="true" speed ="0.18">
            <frame x="0" y="40" w="48" h="40"/>
            <frame x="48" y="40" w="48" h="40"/>
            <frame x="96" y="40" w="48" h="40"/>
            <frame x="144" y="40" w="48" h="40"/>
            <frame x="192" y="40" w="48" h="40"/>
            <frame x="240" y="40" w="48" h="40"/>
            <frame x="288" y="40" w="48" h="40"/>
            <frame x="336" y="40" w="48" h="40"/>
		  </idle_right>
		  <run_left loop ="true" speed ="0.18">
			<frame x="0" y="80" w="48" h="40" />
			<frame x="48" y="80" w="48" h="40" />
			<frame x="96" y="80" w="48" h="40" />
			<frame x="144" y="80" w="48" h="40" />
			<frame x="192" y="80" w="48" h="40" />
			<frame x="240" y="80" w="48" h="40" />
			<frame x="288" y="80" w="48" h="40" />
			<frame x="336" y="80" w="48" h="40" />
			<frame x="384" y="80" w="48" h="40" />
			<frame x="432" y="80" w="48" h="40" />
		  </run_left>
		  <run_right loop ="true" speed ="0.18">
		    <frame x="0" y="120" w="48" h="40" />
		   	<frame x="48" y="120" w="48" h="40" />
		    <frame x="96" y="120" w="48" h="40" />
		   	<frame x="144" y="120" w="48" h="40" />
		   	<frame x="192" y="120" w="48" h="40" />
		   	<frame x="240" y="120" w="48" h="40" />
		   	<frame x="288" y="120" w="48" h="40" />
		   	<frame x="336" y="120" w="48" h="40" />
		  	<frame x="384" y="120" w="48" h="40" />
		  	<frame x="432" y="120" w="48" h="40" />
		  </run_right>
		  <jump_left loop ="false" speed ="0.18">
			<frame x="0" y="160" w="48" h="40" />
			<frame x="48" y="160" w="48" h="40" />
			<frame x="96" y="160" w="48" h="40" />
		  </jump_left>
		  <jump_right loop ="false" speed ="0.18">
			<frame x="0" y="200" w="48" h="40" />
			<frame x="48" y="200" w="48" h="40" />
			<frame x="96" y="200" w="48" h="40" />
		  </jump_right>
		  <fall_left loop ="true" speed ="0.18">
			<frame x="0" y="240" w="48" h="40" />
			<frame x="48" y="240" w="48" h="40" />
			<frame x="96" y="240" w="48" h="40" />
			<frame x="144" y="240" w="48" h="40" />
		  </fall_left>
		  <fall_right loop ="true" speed ="0.18">
			<frame x="0" y="280" w="48" h="40" />
			<frame x="48" y="280" w="48" h="40" />
			<frame x="96" y="280" w="48" h="40" />
			<frame x="144" y="280" w="48" h="40" />
		  </fall_right>
		  <die_left loop ="true" speed ="0.1">
			<frame x="0" y="320" w="48" h="40" />
			<frame x="51" y="320" w="48" h="40" />
			<frame x="96" y="320" w="48" h="40" />
			<frame x="144" y="320" w="49" h="40" />
			<frame x="193" y="320" w="55" h="40" />
			<frame x="248" y="320" w="55" h="40" />
			<frame x="303" y="320" w="56" h="40" />
			<frame x="359" y="320" w="70" h="40" />
			<frame x="429" y="320" w="70" h="40" />
			<frame x="499" y="320" w="70" h="40" />
		  </die_left>
		  <die_right loop ="true" speed ="0.1">
			<frame x="0" y="360" w="48" h="40" />
			<frame x="48" y="360" w="48" h="40" />
			<frame x="96" y="360" w="48" h="40" />
			<frame x="144" y="360" w="49" h="40" />
			<frame x="193" y="360" w="55" h="40" />
			<frame x="248" y="360" w="55" h="40" />
			<frame x="303" y="360" w="56" h="40" />
			<frame x="359" y="360" w="70" h="40" />
			<frame x="429" y="360" w="70" h="40" />
			<frame x="499" y="360" w="70" h="40" />
		  </die_right>
        </animations>
      </player>
    </entities>
  </scene>
	
</config>